@{
    ViewData["Title"] = "Information Client";
}
@model AdminClientViewModel
@{
    var weeksSinceFirstRdv = (DateTime.Now - Model.DatesRendezVous.OrderBy(rdv => rdv).First()).TotalDays / 7;
    var frequency = weeksSinceFirstRdv / Model.DatesRendezVous.Count;
}

@section Styles
{
    <style>
        #sendMail:hover {
            color: #bb4c7b;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
}

<hr />
<div class="container-fluid">
    <div class="row">
        <div id="messageBox" class="col-12">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 class="font-weight-bold">@Model.User.Name @Model.User.FirstName</h1>
        </div>
    </div>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="col-12">
            <p class="text-center"><span class="font-weight-bold pink">E-mail : </span><span id="sendMail" data-toggle="modal" data-target="#mailModal">@Model.User.Email</span> <span class="font-weight-bold pink">Téléphone : </span>@Model.User.PhoneNumber</p>
            <p class="text-center"><span class="font-weight-bold pink">Chiffre d'Affaire Global : </span>@Model.CA €</p>
            @{
                if (frequency > 0)
                {
                    <p class="text-center"><span class="font-weight-bold pink">Frequence Rendez-Vous moyenne : </span>@Math.Ceiling(frequency) semaines</p>
                }
            }
            <div class="d-flex justify-content-between align-items-center">
                <p class="font-weight-bold pink">Dernier Rendez Vous :</p>
                @{
                    if (Model.LastRendezVous != null)
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted font-weight-bold">@Model.LastRendezVous.DateRdv.ToString("dd/MM/yyyy HH:mm")</h5>
                                <div class="card-text">
                                    <span>Prestations demandées :</span>
                                    <ul class="list-group">
                                        @{
                                            foreach (var name in Model.LastRendezVous.Prestations)
                                            {
                                                <li class="list-group-item">@name</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p>Temps estimé : @Model.LastRendezVous.DureeTotal</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>Aucun rendez-vous passé</p>
                    }
                }
                <p class="font-weight-bold pink">Prochain Rendez Vous :</p>
                @{
                    if (Model.NextRendezVous != null)
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted font-weight-bold">@Model.NextRendezVous.DateRdv.ToString("dd/MM/yyyy HH:mm")</h5>
                                <div class="card-text">
                                    <span>Prestations demandées :</span>
                                    <ul class="list-group">
                                        @{
                                            foreach (var name in Model.NextRendezVous.Prestations)
                                            {
                                                <li class="list-group-item">@name</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p>Temps estimé : @Model.NextRendezVous.DureeTotal</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <p>Pas de rendez-vous prévu</p>
                    }
                }
            </div>
        </div>
    </div>
    <br />
    <p><span class="pink font-weight-bold">Nombre de Rendez vous : </span>@Model.DatesRendezVous.Count</p>
    <p class="pink font-weight-bold">Date des 10 derniers Rendez-vous :</p>
    <ul>
        @{
            foreach (var dateRdv in Model.DatesRendezVous.OrderByDescending(rdv => rdv).Take(10))
            {
                <li>@dateRdv.ToString("dd/MM/yyyy HH:mm")</li>
            }
        }
    </ul>
</div>
<hr />

@*Modal de mail*@
<div class="modal fade" id="mailModal" tabindex="-1" role="dialog" aria-labelledby="mailTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mailingTitle">Envoyer un Mail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="mailForm" class="p-4">
                    <div class="form-group">
                        <label for="adress">Destinataire</label>
                        <input type="email" class="form-control" id="adress" name="adress" value="@Model.User.Email" readonly>
                    </div>
                    <div class="form-group">
                        <label for="subject">Sujet</label>
                        <input type="text" class="form-control" id="subject" name="subject">
                    </div>
                    <div class="form-group">
                        <label for="content">Message</label>
                        <textarea class="form-control" id="content" name="content" rows="5"></textarea>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 d-flex justify-content-center">
                            <button class="button-pink" type="button" onclick="sendMail()">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        /** SendMail **/
        let sendInfoMailAction = '@Url.Action("SendInfoEmail", "Ajax")';
        async function sendMail() {
            let messageBox = document.getElementById("messageBox");
            let form = document.getElementById("mailForm");
            let data = new FormData(form);
            console.log(data);
            let response = await fetch(sendInfoMailAction, {
                method: 'POST',
                body: data,
            });
            let responseData = await response.text();
            if (response.ok) {
                messageBox.innerHTML = `<p class="alert alert-success"> Mail envoyé avec succés</p>`;
            }
            else {
                messageBox.innerHTML = `<p class="alert alert-danger">Erreur à l'envoi du mail</p>`;
                console.log(response);
            }
            $('#mailModal').modal('hide')
        }
    </script>
}