@model AdminIndexViewModel
@{
    ViewData["Title"] = "Administration";
}
@section Styles
{
    <link href="~/lib/bootstrap/dist/css/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
    <link href="~/css/admin.css" rel="stylesheet" />
}

<h1>Panel Administration</h1>

<div class="row my-5">
    <div class="col-12 d-flex justify-content-center">
        <h2>Consulter les rendez vous : </h2>
        <input id="datechosen" onchange="getRendezVous()" class="datepicker text-center ml-2" data-date-format="mm/dd/yyyy" value="@Model.TodayShortDate">
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="rendezvous" class="row grid rdv">
            @{
                foreach (var rdv in Model.RendezVousOfDay)
                {
                    if (rdv.Validate)
                    {

                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">@rdv.IdClientNavigation.Name @rdv.IdClientNavigation.FirstName</h5>
                                <h6 class="card-subtitle mb-2 text-muted">@rdv.DateRdv.ToShortTimeString()</h6>
                                <div class="card-text">
                                    <span>Prestations demandés :</span>
                                    <ul class="list-group">
                                        @{
                                            foreach (var name in rdv.Prestations)
                                            {
                                                <li class="list-group-item">@name</li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer">
                                <p>Temps estimé : @rdv.DureeTotal</p>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-12 d-flex justify-content-center">
        <h2>Valider des rendez vous : </h2>
    </div>
</div>
<div id="waitingRendezVous" class="col-12">
    <div class="row grid rdv">
        @{
            foreach (var rdv in Model.WaitingRendezVous)
            {
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@rdv.IdClientNavigation.Name @rdv.IdClientNavigation.FirstName</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@rdv.DateRdv</h6>
                        <div class="card-text">
                            <span>Prestations demandés :</span>
                            <ul class="list-group">
                                @{
                                    foreach (var name in rdv.Prestations)
                                    {
                                        <li class="list-group-item">@name</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-around mt-2">
                        <button id="accept" data-rdv="@rdv.IdRdv" class="btn btn-success">Accepter</button>
                        <button id="reject" date-rdv="@rdv.IdRdv" class="btn btn-danger">Refuser</button>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts
{
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap-datepicker.fr.min.js"></script>
    <script>
        $('.datepicker').datepicker({
            language: "fr",
            todayBtn: true,
            todayHighlight: true,
            format: "dd/mm/yyyy",
            autoclose: true
        });

        let datechosen = document.getElementById("datechosen");
        let rendezvous = document.getElementById("rendezvous");
        async function getRendezVous (e) {

            let param = `date=${datechosen.value}`;

            let response = await fetch('@Url.Action("GetDayRendezVous", "Ajax")', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: param,
            });
            let responseData = await response.text();
            if (response.ok) {
                rendezvous.innerHTML = responseData;
            }
            else {
                console.log('erreur');
            }
        }

    </script>
}