@model List<AdminClientViewModel>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table id="clientsTable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nom - Prénom</th>
                        <th>Téléphone</th>
                        <th>E-mail</th>
                        <th>CA</th>
                        <th>Dernier Rendez-Vous</th>
                        <th>Prochain Rendez-Vous</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var client in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("GetClientInfo", "Admin", new {clientId = client.User.Id })" target="_blank" class="pink font-weight-bold">
                                        @client.User.Name @client.User.FirstName
                                    </a>
                                </td>
                                <td>@client.User.PhoneNumber</td>
                                <td>@client.User.Email</td>
                                <td>@client.CA €</td>
                                <td>
                                    @{
                                        if (client.LastRendezVous != null)
                                        {
                                            @client.LastRendezVous.DateRdv.ToString("dd/MM/yyyy HH:mm");
                                        }
                                        else
                                        {
                                            @Html.Raw("Aucun Rendez-Vous précédent");
                                        }
                                    }
                                </td>
                                <td>
                                    @{
                                        if (client.NextRendezVous != null)
                                        {
                                            @client.NextRendezVous.DateRdv.ToString("dd/MM/yyyy HH:mm");
                                        }
                                        else
                                        {
                                            @Html.Raw("Aucun Rendez-Vous prévu");
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <button type="button" class="button-pink">Envoyer un mail</button>
            </div>
        </div>
    </div>
</div>
