@model List<AdminRendezVousModel>

@{
    if (Model.Count == 0)
    {
        <p style="text-align: center; grid-column: 1 / 6;">Pas de Rendez vous ce jour</p>
    }
    foreach (var rdv in Model)
    {
        if (rdv.Validate)
        {

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="@Url.Action("GetClientInfo", "Admin", new {clientId = rdv.IdClientNavigation.Id})" target="_blank" class="pink font-weight-bold">
                            @rdv.IdClientNavigation.Name @rdv.IdClientNavigation.FirstName
                        </a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">@rdv.DateRdv.ToShortTimeString()</h6>
                    <div class="card-text">
                        <span>Prestations demandées :</span>
                        <ul class="list-group">
                            @{
                                foreach (var name in rdv.Prestations)
                                {
                                    <li class="list-group-item">@name</li>
                                }
                            }
                        </ul>
                    </div>
                    <div class="card-footer">
                        <p>Temps estimé : @rdv.DureeTotal</p>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-around mt-2">
                    <button data-command="cancel" data-date="@rdv.DateRdv.ToString("dd'/'MM'/'yyyy")" data-rdv="@rdv.IdRdv" class="btn btn-danger cancelBtn">Annuler</button>
                </div>
            </div>
        }
    }
}
