@model List<AdminRendezVousModel>
@{
    if (TempData["alert"] != null)
    {
        <div class="col-12" style="grid-column: 1/6">
            @{
                <p class="alert alert-danger">@TempData["alert"]</p>
            }
        </div>
    }
}
@{
    foreach (var rdv in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title">@rdv.IdClientNavigation.Name @rdv.IdClientNavigation.FirstName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@rdv.DateRdv.ToString("dd/MM/yyyy HH:mm")</h6>
                <div class="card-text">
                    <span>Prestations demandés :</span>
                    <ul class="list-group">
                        @{
                            foreach (var name in rdv.Prestations)
                            {
                                <li class="list-group-item">@name</li>
                            }
                        }
                    </ul>
                </div>
                <div>
                    <p>Temps estimé : @rdv.DureeTotal</p>
                    <p class="text-center pink">Commentaire :</p>
                    <p>@Html.Raw(rdv.Comments)</p>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-around mt-2">
                <button data-command="accept" data-rdv="@rdv.IdRdv" class="btn btn-success validationBtn">Accepter</button>
                <button data-command="reject" data-rdv="@rdv.IdRdv" class="btn btn-danger validationBtn">Refuser</button>
            </div>
        </div>
    }
}