@model List<AdminRendezVousViewModel>
@{
    foreach (var rdv in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@rdv.IdClientNavigation.Name @rdv.IdClientNavigation.FirstName</h5>
                <h6 class="card-subtitle mb-2 text-muted">@rdv.DateRdv</h6>
                <div class="card-text">
                    <span>Prestations demandés :</span>
                    <ul class="list-group">
                        @{
                            foreach (var name in rdv.Prestations)
                            {
                                <li class="list-group-item">@name</li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-around mt-2">
                <button data-command="accept" data-rdv="@rdv.IdRdv" class="btn btn-success validationBtn">Accepter</button>
                <button data-command="reject" data-rdv="@rdv.IdRdv" class="btn btn-danger validationBtn">Refuser</button>
            </div>
        </div>
    }
}