@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager
@inject UserManager<ApplicationUser> _userManager
@model RendezVousViewModel
@{
    ViewData["Title"] = "Calendar";
}

@{
    var userName = _userManager.GetUserName(User);
    var userFirstName = _userManager.GetUserName(User);
    var userId = _userManager.GetUserId(User);
}

@section Styles
{
    <link rel="stylesheet" href="~/css/rendezvous.css" />
}

@{
    String monthName = DateTime.Now.ToString("MMMM");
    Int32 numberOfDay = DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month);
    DateTime monthBegin = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
}
<div class="container" id="calendar">
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <i class="fas fa-arrow-left mr-4" id="monthDown"></i> <h1 class="text-center">@monthName</h1> <i class="fas fa-arrow-right ml-4" id="monthUp"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="calendar">
                @{
                    DateTime day = monthBegin;
                    for (int i = 1; i <= numberOfDay; i++)
                    {
                        Double rowDouble = day.Day / 7f;
                        Int32 row = (int)Math.Ceiling(rowDouble);
                        Int32 col = (day.Day - (7 * (row - 1)));
                        String off = day.DayOfWeek == DayOfWeek.Sunday ? "off" : "";

                        <div class="day @off" style="grid-row: @row; grid-column: @col" data-date="@day.Day-@day.Month">
                            <p class="text-center">@day.ToString("dddd") @day.Day</p>
                            @if (day.DayOfWeek != DayOfWeek.Sunday)
                            {
                                <div class="rdv @(Model.DateCodeRendezVousTaken.Contains($"{day.Year}-{day.Month}-{day.Day}-9") ? "unavaible" : "")" data-code="@($"{day.Year}-{day.Month}-{day.Day}-9")" data-toggle="modal" data-target="#reservations">9h00</div>
                                <div class="rdv @(Model.DateCodeRendezVousTaken.Contains($"{day.Year}-{day.Month}-{day.Day}-11") ? "unavaible" : "")" data-code="@($"{day.Year}-{day.Month}-{day.Day}-11")" data-toggle="modal" data-target="#reservations">11h00</div>
                                <div class="rdv @(Model.DateCodeRendezVousTaken.Contains($"{day.Year}-{day.Month}-{day.Day}-13") ? "unavaible" : "")" data-code="@($"{day.Year}-{day.Month}-{day.Day}-13")" data-toggle="modal" data-target="#reservations">13h00</div>
                                <div class="rdv @(Model.DateCodeRendezVousTaken.Contains($"{day.Year}-{day.Month}-{day.Day}-15") ? "unavaible" : "")" data-code="@($"{day.Year}-{day.Month}-{day.Day}-15")" data-toggle="modal" data-target="#reservations">15h00</div>
                                <div class="rdv @(Model.DateCodeRendezVousTaken.Contains($"{day.Year}-{day.Month}-{day.Day}-17") ? "unavaible" : "")" data-code="@($"{day.Year}-{day.Month}-{day.Day}-17")" data-toggle="modal" data-target="#reservations">17h00</div>
                            }
                        </div>

                        day = day.AddDays(1);
                    }
                }

            </div>
        </div>
    </div>
    @*Modal de prise de rdv*@
    <div class="modal fade" id="reservations" tabindex="-1" role="dialog" aria-labelledby="reservationsTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservationsTitle">Réserver</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-controller="RendezVous" asp-action="SaveRendezVous" method="post" id="inscription" class="p-4">
                        <div class="form-group row">
                            <label for="name" class="col-sm-2 col-form-label">Nom</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="name" name="name" readonly required value="@userName">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="firstname" class="col-sm-2 col-form-label">Prénom</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" name="firstname" readonly required value="@userFirstName">
                            </div>
                        </div>
                        <input asp-for="IdClient" type="hidden" value="@userId">
                        <input id="dateCodeInput" type="hidden" asp-for="DateCode" />
                        <div class="form-group row">
                            <label for="date" class="col-sm-2 col-form-label">Date</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="date" name="date" value="" readonly required>
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <legend>Prestations souhaités</legend>
                            <div class="row">
                                <div class="col-sm-10">
                                    @{
                                        for (int i = 0; i < Model.Prestations.Count; i++)
                                        {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" asp-for="Prestations[i].IsChosen" />
                                                <label class="form-check-label" asp-for="Prestations[i].IsChosen">
                                                    @Model.Prestations[i].Nom - @Math.Round(Model.Prestations[i].Prix, 2) €
                                                </label>
                                                <input type="hidden" asp-for="Prestations[i].IdPrestation" value="@Model.Prestations[i].IdPrestation" />
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <div class="col-12 d-flex justify-content-center">
                                <button class="button-pink" type="submit" id="reservate">Réserver (prix total : <span id="pricetotal">-</span> €)</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        let dateEnable = document.querySelectorAll(".rdv");
        dateEnable.forEach(item => item.addEventListener("click", () => {
            let dateCode = item.dataset.code;
            let dateCodeInput = document.getElementById("dateCodeInput");
            dateCodeInput.value = dateCode;

            let dateInput = document.getElementById("date");
            let splitDateCode = dateCode.split("-");
            dateInput.value = `${splitDateCode[2]}/${splitDateCode[1]}/${splitDateCode[0]} à ${splitDateCode[3]}h`;
        }));
    </script>
}